body{
    max-width: 1440px;
    font-family: 'Outfit', sans-serif;
    background-color:  hsl(217, 54%, 11%);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card{
    background-color: hsl(216, 50%, 16%);
    max-width: 346px;
    border-radius: 10px;
    padding: 25px;
    
}

.card .imagem-equilibrio{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    text-align: center;
    
    
}

.card .imagem-link{
    width: 100%;
    display: flex;
    position: relative;
}

.card .imagem-link::before{
    
    content: '';
    background-color:hsl(178, 100%, 50%);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card .imagem-link:hover::before{
    opacity: 0.4;
    border-radius: 7px;
}

.card .imagem-link::after{
    opacity: 0;
    content: '';
    background: url(../imagens/icon-view.svg) no-repeat center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition:0.3s ease-in-out;

}

.card .imagem-link:hover::after{
    opacity: 1;
    border-radius: 7px;
}

.titulo{
    font-size: 22px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    margin: 25px 0 20px;
}

.titulo:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%)
}

.sobre{
    color: hsl(215, 51%, 70%);
    margin-top: 10px;
    font-weight: 300;
    line-height: 25px;
    font-size: 18px;
}


.informacoes{
    text-align: center;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid  hsl(215, 32%, 27%);
    margin-top: 20px;
    padding-bottom: 20px;
}

.informacoes .valor{
    font-size: 16px;
    display: flex;
    gap: 5px;
    color: hsl(178, 100%, 50%)
}
   
.informacoes .days-left{
    font-size: 16px;

    display: flex;
    gap: 5px;
    color: hsl(215, 51%, 70%);
}

.usuario{
    display: flex;
    align-items: center;
    gap: 15px
}

.usuario img{
    max-width: 35px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-top: 10px;
}

.usuario-texto{
    color:hsl(0, 0%, 100%); 
}

.usuario-texto:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%)

}

.usuario-texto span{
    color: hsl(215, 51%, 70%);
    font-size: 16px;
}


